@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
head{
    margin: 0;
    padding: 0;
}
body{
    background-color: #DAFFFB;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    max-width: 1100px;
    min-width: 1100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 5% auto 0 auto;
    border-radius: 15px;
    background-color: azure;
    height: 65vh;
    #lines{
        background: url('../assets/images/bg-sidebar-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 0 0 15px;
        width: 36%;
        ul{
            display: flex;
            flex-direction: column;
            li{
                list-style-type: none;
                display: flex;
                color: white;
                flex-direction: row;
                p{
                    font-size: 30px;
                    margin-right: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid white;
                    background: none;
                    background-color: rgba(255, 228, 196, 0);
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                }
                .active{
                    color: black;
                    background: white;
                }
                #text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h4, h2{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
                    }
                    h4{
                        font-size: 10px;
                        color: rgb(189, 187, 187);
                    }
                    h2{
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
    }
    #main{
        padding: 0 150px;
        height: 100%;
        width: 66%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        div{
            #main_title{
                font-size: 40px;
                font-weight: 900;
                padding: 0;
                margin: 0;
                color: #220f75;;
            }
            #main_h5{
                font-size: 17px;
                color: rgb(94, 94, 94);
                padding: 0;
                margin: 0 0 25px 0;
            }
            form{
                div{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 25px 0;
                    label{
                        font-weight: 800;
                    }
                    input{
                        margin-top: 3px;
                        font-size: 17px;
                        border: 1px gray solid;
                        padding: 8px 16px;
                        border-radius: 5px;
                        font-family: 'Ubuntu', sans-serif;
                    }
                }
                #but{
                    align-items: flex-end;
                    margin: 75px 0 0 0;
                }
                #sub1{
                    display: flex;
                    justify-content: flex-end;
                    width: min-content;
                    padding: 12px 20px;
                    border-radius: 5px;
                    background-color: rgb(143, 135, 135);
                    border: none;
                    transition: 0.3s;
                    color: white;
                    font-size: 20px;
                }
                #sub1:hover{
                    background-color: #0079FF;
                }
            }
        }
    }
    #step_2{
        display: flex;
        flex-direction: column;
        width: 100%;
        #options{
            display: flex;
            flex-direction: row; 
            justify-content: space-around;
            margin-bottom: 30px;
            #Arcade, #Advanced, #Pro{
                width: 20%;
                height: 160px;
                padding: 20px;
                border: 1px solid #042a58;
                border-radius: 7px;
                transition: 0.3s;
                div{
                    margin: 40% 0 0 0;
                    color: #220f75;
                    h3{
                        margin: 0;
                        padding: 0;
                    }
                    h5{
                        margin: 0;
                    }
                }
            }
            .active{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                background-color: #cadef7;
                scale: 1.05;
            }
            .notactive{
                scale: 0.95;
            }
        }
        #buttons2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            #Next2{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                background-color: #c7baba;
                border: none;
                transition: 0.3s;
                color: white;
                font-size: 20px;
            }
            #return2{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                background: none;
                transition: 0.3s;
                color: #c7baba;
                font-size: 20px;
            }
            #return2:hover, #Next2:hover{
                background-color: #0079FF;
            }
        }
    }
    #step_3{
        width: 90%;
        form{
            display: flex;
            flex-direction: column;
            #el3{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                column-gap: 25px;
                border: 1px solid #042a58;
                border-radius: 7px;
                padding: 1px 16px;
                margin: 7px;
                input{
                    background-color: #c7baba;
                    appearance: checkbox;
                    width: 20px;
                    height: 20px;
                }
                div{
                    h2,h4{
                        padding: 0;
                        margin: 0;
                    }
                    h2{
                        font-size: 20px;
                    }
                    h4{
                        font-size: 13px;
                        color: #888d92;
                    }
                }
                p{
                    color: #042a58;
                    font-weight: 800;
                }
            }
            #el3.checked{
                background-color: #ECF2FF;
            }
        }
        #buttons2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            #Next3{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                background-color: #c7baba;
                border: none;
                transition: 0.3s;
                color: white;
                font-size: 20px;
            }
            #return3{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                background: none;
                transition: 0.3s;
                color: #c7baba;
                font-size: 20px;
            }
            #return3:hover, #Next3:hover{
                background-color: #0079FF;
            }
        }
    }
    #step_4{
        #suma{
            width: 97%;
            background-color: #F5F5F5;
            border-radius: 7px;
            padding: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            #sumapl{
                width: 98%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                b{
                    width: 70%;
                    color: #220f75;  
                    font-weight: bold;
                    font-size: 20px;
                }
                p{
                    display: flex;
                    justify-content: flex-end;
                    color: #220f75;  
                    font-weight: bold;
                    font-size: 15px;
                }
            }
            #line{
                margin: 0px auto 15px ;
                width: 90%;
                height: 1px;
                background:#FEA1A1;
            }
            #item{
                margin: 3px;
            }
        }
        #buttons22{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            #Next4{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                background-color: #c7baba;
                border: none;
                transition: 0.3s;
                color: white;
                font-size: 20px;
            }
            #return4{
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                background: none;
                transition: 0.3s;
                color: #c7baba;
                font-size: 20px;
            }
            #return4:hover, #Next4:hover{
                background-color: #0079FF;
            }
        }
        #elem123{
            padding: 0 20px;
            width: 90%;
            display: flex;
            flex-direction: column;
            #item{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        #total{
            padding: 0 0 0 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
            p{
                font-size: 15px;
            }
            b{
                color: #0079FF; 
                font-size: 25px;
            }
        }
    }
}



@media screen and (max-width: 1200px) and (min-width: 850px){
    #container #main div form #but{
        align-items: flex-end;
        margin: 0 0 0 0;
        width: 380px;
    }
    #container{
        min-width: 85%;
        height: 75vh;
        div{
            #main_title{
                font-size: 40px;
                font-weight: 900;
                padding: 0;
                margin: 0;
                color: #220f75;;
            }
            #main_h5{
                font-size: 17px;
                color: rgb(94, 94, 94);
                padding: 0;
                margin: 0 0 25px 0;
            }
            form{
                div{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 25px 0;
                    label{
                        font-weight: 800;
                    }
                    input{
                        width: 350px;
                    }
                }
            }
        }
        #lines{
            width: 50%;
            ul{
                li{
                    #text{
                        h2{
                            font-size: 16px;
                            color: white;
                        }
                    }
                }
            }
        }
        #main{
            width: 80%;
            padding: 0 100px;
        }
    }
    #container #step_3 #buttons3 {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1140px) {
    #container #step_3 form #el3 div h2 {
        font-size: 15px;
    }
    #container #step_3 form #el3 div h4 {
        font-size: 11px;
    }
    #container #step_3 #buttons3 {
        margin-top: 20px;
    }
}









@media screen and (max-width: 850px) {
    
    #container #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    #container{
        transform: translateY(-70px);
        min-width: 65%;
        margin: 0 auto;
        height: 55vh;
        #lines{
            display: none;
        }
    }
    #container #step_3 #buttons3 {
        margin-top: 20px;
    }
    #container #main div form {
        div{
            width: 100%;
            input {
                height: 40px;
                font-size: 25px;
            }
        }
    }
    
    #container #main div form #but {
        align-items: flex-end;
        margin: 15px 0 0 0;
    }
    #container #main div form #sub1 {
        display: flex;
        justify-content: flex-end;
        width: min-content;
        padding: 12px 20px;
        border-radius: 5px;
        background-color: rgb(143, 135, 135);
        border: none;
        transition: 0.3s;
        color: white;
        font-size: 30px;
        height: 55px;
    }
}