@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
head {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DAFFFB;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1100px;
  min-width: 1100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 5% auto 0 auto;
  border-radius: 15px;
  background-color: azure;
  height: 65vh;
}
#container #lines {
  background: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 0 0 15px;
  width: 36%;
}
#container #lines ul {
  display: flex;
  flex-direction: column;
}
#container #lines ul li {
  list-style-type: none;
  display: flex;
  color: white;
  flex-direction: row;
}
#container #lines ul li p {
  font-size: 30px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  background: none;
  background-color: rgba(255, 228, 196, 0);
  font-family: "M PLUS Rounded 1c", sans-serif;
}
#container #lines ul li .active {
  color: black;
  background: white;
}
#container #lines ul li #text1, #container #lines ul li #text2, #container #lines ul li #text3, #container #lines ul li #text4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container #lines ul li #text1 h4, #container #lines ul li #text1 h2, #container #lines ul li #text2 h4, #container #lines ul li #text2 h2, #container #lines ul li #text3 h4, #container #lines ul li #text3 h2, #container #lines ul li #text4 h4, #container #lines ul li #text4 h2 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
#container #lines ul li #text1 h4, #container #lines ul li #text2 h4, #container #lines ul li #text3 h4, #container #lines ul li #text4 h4 {
  font-size: 10px;
  color: rgb(189, 187, 187);
}
#container #lines ul li #text1 h2, #container #lines ul li #text2 h2, #container #lines ul li #text3 h2, #container #lines ul li #text4 h2 {
  font-size: 20px;
  color: white;
}
#container #main {
  padding: 0 150px;
  height: 100%;
  width: 66%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
#container #main div #main_title {
  font-size: 40px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  color: #220f75;
}
#container #main div #main_h5 {
  font-size: 17px;
  color: rgb(94, 94, 94);
  padding: 0;
  margin: 0 0 25px 0;
}
#container #main div form div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px 0;
}
#container #main div form div label {
  font-weight: 800;
}
#container #main div form div input {
  margin-top: 3px;
  font-size: 17px;
  border: 1px gray solid;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
}
#container #main div form #but {
  align-items: flex-end;
  margin: 75px 0 0 0;
}
#container #main div form #sub1 {
  display: flex;
  justify-content: flex-end;
  width: -moz-min-content;
  width: min-content;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: rgb(143, 135, 135);
  border: none;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}
#container #main div form #sub1:hover {
  background-color: #0079FF;
}
#container #step_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#container #step_2 #options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 30px;
}
#container #step_2 #options #Arcade, #container #step_2 #options #Advanced, #container #step_2 #options #Pro {
  width: 20%;
  height: 160px;
  padding: 20px;
  border: 1px solid #042a58;
  border-radius: 7px;
  transition: 0.3s;
}
#container #step_2 #options #Arcade div, #container #step_2 #options #Advanced div, #container #step_2 #options #Pro div {
  margin: 40% 0 0 0;
  color: #220f75;
}
#container #step_2 #options #Arcade div h3, #container #step_2 #options #Advanced div h3, #container #step_2 #options #Pro div h3 {
  margin: 0;
  padding: 0;
}
#container #step_2 #options #Arcade div h5, #container #step_2 #options #Advanced div h5, #container #step_2 #options #Pro div h5 {
  margin: 0;
}
#container #step_2 #options .active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #cadef7;
  scale: 1.05;
}
#container #step_2 #options .notactive {
  scale: 0.95;
}
#container #step_2 #buttons2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
#container #step_2 #buttons2 #Next2 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #c7baba;
  border: none;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}
#container #step_2 #buttons2 #return2 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background: none;
  transition: 0.3s;
  color: #c7baba;
  font-size: 20px;
}
#container #step_2 #buttons2 #return2:hover, #container #step_2 #buttons2 #Next2:hover {
  background-color: #0079FF;
}
#container #step_3 {
  width: 90%;
}
#container #step_3 form {
  display: flex;
  flex-direction: column;
}
#container #step_3 form #el3 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  border: 1px solid #042a58;
  border-radius: 7px;
  padding: 1px 16px;
  margin: 7px;
}
#container #step_3 form #el3 input {
  background-color: #c7baba;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  width: 20px;
  height: 20px;
}
#container #step_3 form #el3 div h2, #container #step_3 form #el3 div h4 {
  padding: 0;
  margin: 0;
}
#container #step_3 form #el3 div h2 {
  font-size: 20px;
}
#container #step_3 form #el3 div h4 {
  font-size: 13px;
  color: #888d92;
}
#container #step_3 form #el3 p {
  color: #042a58;
  font-weight: 800;
}
#container #step_3 form #el3.checked {
  background-color: #ECF2FF;
}
#container #step_3 #buttons2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
#container #step_3 #buttons2 #Next3 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #c7baba;
  border: none;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}
#container #step_3 #buttons2 #return3 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background: none;
  transition: 0.3s;
  color: #c7baba;
  font-size: 20px;
}
#container #step_3 #buttons2 #return3:hover, #container #step_3 #buttons2 #Next3:hover {
  background-color: #0079FF;
}
#container #step_4 #suma {
  width: 97%;
  background-color: #F5F5F5;
  border-radius: 7px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#container #step_4 #suma #sumapl {
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#container #step_4 #suma #sumapl b {
  width: 70%;
  color: #220f75;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#container #step_4 #suma #sumapl b #change {
  font-size: 14px;
  text-decoration: none;
  color: #0079FF;
}
#container #step_4 #suma #sumapl p {
  display: flex;
  justify-content: flex-end;
  color: #220f75;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
#container #step_4 #suma #line {
  margin: 0px auto 15px;
  width: 90%;
  height: 1px;
  background: #FEA1A1;
}
#container #step_4 #suma #item {
  margin: 3px;
}
#container #step_4 #buttons22 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
#container #step_4 #buttons22 #Next4 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #c7baba;
  border: none;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}
#container #step_4 #buttons22 #return4 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background: none;
  transition: 0.3s;
  color: #c7baba;
  font-size: 20px;
}
#container #step_4 #buttons22 #return4:hover, #container #step_4 #buttons22 #Next4:hover {
  background-color: #0079FF;
}
#container #step_4 #elem123 {
  padding: 0 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#container #step_4 #elem123 #item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#container #step_4 #total {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
#container #step_4 #total p {
  font-size: 15px;
}
#container #step_4 #total b {
  color: #0079FF;
  font-size: 25px;
}

@media screen and (max-width: 1200px) and (min-width: 850px) {
  #container #main div form #but {
    align-items: flex-end;
    margin: 0 0 0 0;
    width: 380px;
  }
  #container {
    min-width: 85%;
    height: 75vh;
  }
  #container div #main_title {
    font-size: 40px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: #220f75;
  }
  #container div #main_h5 {
    font-size: 17px;
    color: rgb(94, 94, 94);
    padding: 0;
    margin: 0 0 25px 0;
  }
  #container div form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 0;
  }
  #container div form div label {
    font-weight: 800;
  }
  #container div form div input {
    width: 350px;
  }
  #container #lines {
    width: 50%;
  }
  #container #lines ul li #text1 h2, #container #lines ul li #text2 h2, #container #lines ul li #text3 h2, #container #lines ul li #text4 h2 {
    font-size: 16px;
    color: white;
  }
  #container #main {
    width: 80%;
    padding: 0 100px;
  }
  #container #step_3 #buttons3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1140px) {
  #container #step_3 form #el3 div h2 {
    font-size: 15px;
  }
  #container #step_3 form #el3 div h4 {
    font-size: 11px;
  }
  #container #step_3 #buttons3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 850px) {
  #container #main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  #container {
    transform: translateY(-70px);
    min-width: 65%;
    margin: 0 auto;
    height: 55vh;
  }
  #container #lines {
    display: none;
  }
  #container #step_3 #buttons3 {
    margin-top: 20px;
  }
  #container #main div form div {
    width: 100%;
  }
  #container #main div form div input {
    height: 40px;
    font-size: 25px;
  }
  #container #main div form #but {
    align-items: flex-end;
    margin: 15px 0 0 0;
  }
  #container #main div form #sub1 {
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: rgb(143, 135, 135);
    border: none;
    transition: 0.3s;
    color: white;
    font-size: 30px;
    height: 55px;
  }
}
@media screen and (max-width: 600px) {
  #container #step_2 #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  #container #step_2 #options #Arcade, #container #step_2 #options #Advanced, #container #step_2 #options #Pro {
    padding: 10px;
    margin: 3px;
    min-width: 100px;
    max-width: 100px;
  }
  #container #step_2 #options #Arcade #content, #container #step_2 #options #Advanced #content, #container #step_2 #options #Pro #content {
    padding: 10px;
  }
  #container #step_2 #options #Arcade #content h3, #container #step_2 #options #Advanced #content h3, #container #step_2 #options #Pro #content h3 {
    font-size: 17px;
  }
  #container #step_2 #options #Arcade #content h5, #container #step_2 #options #Advanced #content h5, #container #step_2 #options #Pro #content h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  #container #main {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  #container {
    transform: translateY(-70px);
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    height: auto;
  }
  #container #lines {
    display: none;
  }
  #container #step_3 #buttons3 {
    margin-top: 20px;
  }
  #container #main div form div {
    width: 100%;
  }
  #container #main div form div input {
    height: 40px;
    font-size: 25px;
  }
  #container #main div form #but {
    align-items: flex-end;
    margin: 15px 0 0 0;
  }
  #container #main div form #sub1 {
    display: flex;
    justify-content: flex-end;
    width: -moz-min-content;
    width: min-content;
    padding: 18px 16px;
    border-radius: 5px;
    background-color: rgb(143, 135, 135);
    border: none;
    transition: 0.3s;
    color: white;
    font-size: 18px;
    height: 55px;
  }
  #container #main div #main_title {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: #220f75;
  }
  #container #main div #main_h5 {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: #220f75;
  }
  #container #main div form div input {
    height: 40px;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */